[child]
# program to run in child process
program=fish

[window]
# opacity of background from 0 (fully transparent) to 255 (fully opaque)
opacity=220

# render a margin to exactly match window size hints from the compositor
margin=yes

# request server side decorations if available by the compositor [yes|no|auto]
decorations=no

[terminal]
# size of terminal
#rows=16
#columns=140
#rows=30
#columns=100
rows=43
columns=132

# number of lines to keep in scrollback
scrollback=1000

[font]
# height of a single glyph in pixels
size=24

# absolute path to a truetype font
path=/home/wizard/.local/share/fonts/MxPlus_IBM_VGA_8x16.ttf
#path=/usr/share/fonts/TTF/IBMPlexMono-Bold.ttf
#path=/usr/share/fonts/NerdFonts/ttf/TerminessNerdFontMono-Bold.ttf

[bind]
# bind keys to actions
C-S-c=copy
C-S-v=paste
C-S-r=reset
C-S-Delete=hard reset
C-S-j=scroll down
C-S-k=scroll up
C-S-Page_Down=scroll down page
C-S-Page_Up=scroll up page
C-S-End=scroll to bottom
C-S-Home=scroll to top

[colors]
foreground = #F2F2F2
background = #010101

# black
color0  = #000000
color8  = #414141

# red
color1  = #CD0000
color9  = #FF5040

# green
color2  = #00CD00
color10 = #98FB98

# yellow
color3  = #CDCD00
color11 = #FFD9AA

# blue
color4  = #0000CD
color12 = #1050CD

# magenta
color5  = #C020D0
color13 = #A020F0

# cyan
color6  = #40E0D0
color14 = #AEEEEE

# white
color7  = #F2F2F2
color15 = #FFFFFF
